/* This Awesome CSS file was created by Font Orgranizer from Hive :) */


@font-face {
    font-family: 'Sans Serif';
    
    src: url('//localhost/wp-eyenation/wp-content/uploads/font-organizer/Bledug.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'OrgonMedium';
    
    src: url('//localhost/wp-eyenation/wp-content/uploads/font-organizer/Orgon-Medium.woff') format('woff'),
url('//localhost/wp-eyenation/wp-content/uploads/font-organizer/Orgon-Medium-3.woff') format('woff');
font-weight: normal;
}
